/* Styles for Heather - A Hyperminimal Jekyll Theme */

/* BASSCSS Reset - http://jxnblk.github.io/basscss */
* {
  box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, dl, ol, ul, p,
button, input, select, textarea {
  margin: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
}

/* COLORS */
.red {
   color: #B72703;
 }

 .yellow {
   color: #D4C470;
 }

 .blue {
  color: #26ADFF;
}

/* Fonts */
@font-face {
  font-family: 'Libertine';
  src: url('fonts/LinLibertine_DR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* BASE */

body {
  background-color: #000;
  color: #fff;
  font-family: 'Libertine', serif;
  line-height: 1.45;
  font-size: 1.4em;
  margin: 16px;
}

a { 
  color: #D4C470; 
  text-decoration: none; 
}

h1 a {
  color: #26ADFF;
}

pre {
  padding-left: 45px;
  font-size: 0.8em;
}

/* POST */
.post { 
  margin-bottom: 96px; 
}

.post h1 a {
  color: #B72703;
}

/* HOME */
.home ul {
  padding: 0;
}

.home li {
  list-style: none;
}

.home li,
.home li a {
  color: #B72703;
}

/* SINGLE */
.single .post > * {
  max-width: 720px;
}

.single .post pre {
  max-width: 1000px;
  word-break: break-word;
  background: #fff;
  color: #000;
  padding: 15px;
}
